{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage", // Change "entry" to "usage" for granular polyfilling
        "corejs": 3 // Use the latest version of core-js
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-transform-runtime", { "corejs": false }] // Prevents duplicate polyfilling
  ]
}
